<% @posts.each do |post| %>
  <div class="posts-main-box">

    <% if post.title.present? %>
    <!-- タイトル -->
    <div class="posts-title-id">
      <p><%= post.title %></p>
    </div>
    <% end %>
    





      <!-- ブックマーク -->
      <div class="posts-submenu-id">
        <div id = "bookmark_button_<%= post.id %>">
          <%= render "bookmarks/bookmark", post: post %>
        </div>
      </div>


      

     
    <div class="posts-text-id">
     <!-- 本文 -->
      <%=safe_join(post.text.split("\n"),tag(:br))%>
      <!-- 画像 -->
      <div class="posts-image-id">
        <% if post.images.count > 0 %>
          <div class="posts-image-all">
          <%= image_tag post.images.first %>
          </div>
        <% end %>
      </div>
      
      <div class="posts-sub_box">
        <!-- カテゴリー -->
        <div class="posts-category-id">
          <p>
            <i class="fa-regular fa-folder"></i>
            <%= post.category.genre %>
          </p>
        </div>

       
      </div>
      
    </div>

  </div>
<% end %>
