<div class="posts-id-all">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="posts-id">

        <p>
    <%= post.category.genre %>
        </p>
        <div class="posts-title-id">
          <p><%= post.title %></p>
        </div>

        <div class="posts-timestamp-id">
          <p><%= post.created_at %></p>
        </div>

        <div class="posts-text-id">
          <p><%=safe_join(post.text.split("\n"),tag(:br))%></p>

       <div class="posts-image-id">
    <% post.images.each do |image| %>
      <%= image_tag(image, width:100) %>
    <% end %>
</div>

          <p>
            <div id = "bookmark_button_<%= post.id %>">
            <%= render "bookmarks/bookmark", post: post %>
            </div>

            <% post.tags.each do |tag| %>
              <%#= link_to tag.tag_name, "/users/#{prototype.user.id}", class: :card__user %>
              <%= '#' + tag.tag_name if post.tags.first.present? %>
            <% end %>
          </p>
        </div>

      </div>
    <% end %>
  <% else %>
    <div class="posts-id">

      <div class="posts-title-id"><p>ダミータイトル</p></div>
      <div class="posts-timestamp-id"><p>2022-12-25 00:00:00</p></div>
      <div class="posts-text-id">
        <p>ダミー本文ダミー本文ダミー本文ダミー本文ダミー本文ダミー本文ダミー本文</p>
      </div>
    </div>
  <% end %>
</div>
