<div class="posts-all">
  <div class="posts-index_all">
    <% @posts.each do |post| %>
      <div class="posts-main-box">
        <% if post.images.present? && post.title.present? %>  
          <!---- 表示１：画像あり／タイトルあり ---->
          <div class="posts_index_box_image1">
            <div class="posts_index_box_image1_out">
              <div class="posts_index_box_image1_main">
                <%= link_to post_path(post.id), method: :get, class: 'post-indexs_link' do %>

                  <!-- 画像 -->
                  <div class="posts-index_image1">

                    <% if post.images.count > 0 %>
                      <%= image_tag post.images.first.variant(gravity: :center, resize:"200x180^", crop:"200x180+0+0").processed %>
                    <% end %>
        
                    <!-- 本文 -->
                    <div class="posts-index_text1">
                      <%= post.text.truncate(103) %>
                    </div>
                  </div>

                  <!-- タイトル -->
                  <div class="posts-index_title1">
                    <%= post.title.truncate(15) %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="posts-index_sub">
              <!-- カテゴリー -->
              <div class="posts-index_category">
                <p>
                  <i class="fa-regular fa-folder" style="color: #342520"></i>
                  <span class="category_size"><%= post.category.genre %></span>
                </p>
              </div>
          
              <!-- ブックマーク -->
              <div class="posts-index_bookmark">
                <div id = "bookmark_button_<%= post.id %>">
                  <span class="tooltip_i">
                  <%= render "bookmarks/bookmark", post: post %>
                  <span class="description_bottom_i">ブックマーク</span></span>
                </div>
              </div>
            </div>

          </div>

        <% elsif post.images.present? %>  
          <!---- 表示２：画像あり／タイトルなし ---->
          <div class="posts_index_box_image2">
            <div class="posts_index_box_image2_out">
              <div class="posts_index_box_image2_main">
                <%= link_to post_path(post.id), method: :get, class: 'post-indexs_link' do %>
                  <!-- 画像 -->
                  <div class="posts-index_image2">
                 
                    <% if post.images.count > 0 %>
                      <%= image_tag post.images.first.variant(gravity: :center, resize:"240x240^", crop:"240x240+0+0").processed %>
                    <% end %>
                    <div class="posts-index_image2_in">
                      <!-- 本文 -->
                      <div class="posts-index_text2">
                        <%= post.text.truncate(128) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="posts-index_sub">
                <!-- カテゴリー -->
                <div class="posts-index_category">
                  <p>
                    <i class="fa-regular fa-folder" style="color: #342520"></i>
                    <span class="category_size"><%= post.category.genre %></span>
                  </p>
                </div>
            
                <!-- ブックマーク -->
                <div class="posts-index_bookmark">
                  <div id = "bookmark_button_<%= post.id %>">
                    <span class="tooltip_i">
                    <%= render "bookmarks/bookmark", post: post %>
                    <span class="description_bottom_i">ブックマーク</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <%else%>
          <% if post.title.present? %>  
            <!---- 表示3：画像なし／タイトルあり ---->
            <div class="posts_index_box_image3">
              <div class="posts_index_box_image3_out">
                <div class="posts_index_box_image3_main">
                  <%= link_to post_path(post.id), method: :get, class: 'post-indexs_link' do %>

                    <!-- タイトル -->
                    <div class="posts-index_title3">
                      <%= post.title.truncate(15) %>
                    </div>

                    <!-- 本文 -->
                    <div class="posts-index_text3">
                      <%= post.text.truncate(132) %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="posts-index_sub">
                <!-- カテゴリー -->
                <div class="posts-index_category">
                  <p>
                    <i class="fa-regular fa-folder" style="color: #342520"></i>
                    <span class="category_size"><%= post.category.genre %></span>
                  </p>
                </div>
            
                <!-- ブックマーク -->
                <div class="posts-index_bookmark">
                  <div id = "bookmark_button_<%= post.id %>">
                    <span class="tooltip_i">
                    <%= render "bookmarks/bookmark", post: post %>
                    <span class="description_bottom_i">ブックマーク</span></span>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <!---- 表示４：本文のみ／タイトルなし ---->
            <div class="posts_index_box_image4">
              <div class="posts_index_box_image4_out">
                <div class="posts_index_box_image4_main">
                  <%= link_to post_path(post.id), method: :get, class: 'post-indexs_link' do %>

                    <!-- 本文 -->
                    <div class="posts-index_text4">
                      <%= post.text.truncate(166) %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="posts-index_sub">
                <!-- カテゴリー -->
                <div class="posts-index_category">
                  <p>
                    <i class="fa-regular fa-folder" style="color: #342520"></i>
                    <span class="category_size"><%= post.category.genre %></span>
                  </p>
                </div>
            
                <!-- ブックマーク -->
                <div class="posts-index_bookmark">
                  <div id = "bookmark_button_<%= post.id %>">
                    <span class="tooltip_i">
                    <%= render "bookmarks/bookmark", post: post %>
                    <span class="description_bottom_i">ブックマーク</span></span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
  </div>
</div>