<body>
  <%= render "shared/header" %>
  <div class= 'main'>
    <div class= "posts_all">
      <div class="posts">
        <%= render "posts_all" %>

        <%= form_with model: @post, class: 'form-id', local: true do |f| %>
          <div class="form-input-id">
            <%= f.text_field :title, class: 'form-title-id', placeholder: 'タイトル' %>
            <%= f.text_area :text, class: 'form-contents-id', placeholder: '本文' %>
            
            <%= f.file_field :image, class: 'image-id' %>
            <%= f.collection_select :category_id, Category.all, :id, :genre,{include_blank: "カテゴリを選択"}, {class: "category-id"} %>
          </div><br>
          <%= f.submit '送信', class: 'form-submit-id', type: 'button', onclick: 'submit();' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
